/* Header */
nav {
    background-color: rgb(7, 7, 7);
}
.nav-link {
    font-size: 103%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* About */
.about span {
    color: rgb(255, 0, 76);
}
.about i {
    font-size: 85%;
    color: rgb(29, 3, 44);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 1000;
}
.about .card {
    box-shadow: 5px 5px 15px rgb(136, 247, 255);
    background-color: #fff;
    transition: all 0.3s ease-in;
}
.about .card:hover {
    box-shadow: 7px 7px 15px rgb(7, 2, 32);
    background-color: rgb(7, 7, 10);
    color: #fff;
}
.about .card:hover i {
    color: #fff;
}
.about .card:hover .main {
    border-top:1px solid #fff;
}
.about .card img {
    margin-top: -50px;
}
.about .card p {
    font-weight: 500;
}
.about .main {
    border-top:1px solid #010615;
}
.about .card i {
    font-size: 26px;
    color: #010615;
}

/* Banner */
.banner {
    max-width: 100%;
    height: 570px;
    background-image: url("../image/mac.png");
    background-size: cover;
    background-attachment: fixed;
}

/* Skills */
.skill {
    width: 100%;
    max-width:  600px;
    padding: 0 20px;
    clear: both;
}
.skills {
    padding-top: 75px;
}
.skills h2, .project h2 {
    font-size: 450%;
    z-index: -1;
    opacity: 0.1;
    letter-spacing: 3px;
}
.skills h2 {
    float: right;            
}
.skill-name {
    width: 20%;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
    color: #010615;
}
.skill-name:hover {
    border-bottom: 1px solid rgb(29, 4, 20);
}
.skill-bar {
    height: 20px;
    background-color: #00eeff;
    border-radius: 8px;
}
.skill-per {
    height: 20px;
    border-radius: 8px;
    background: linear-gradient(to left,#010615,#ff005e);
    width: 0;
    transition: 2s linear;
    position: relative;
}
.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}
.skill-per::after {
    content: '';
    position: absolute;
    background-color: #000;
    color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 4px;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
}

/* Project */
.project .card {
    width: 67%;
    background-color: #010615;
}

@media only screen and (max-width: 769px) {
    .about .card {
        width: 65%;
    }
  }